langchain
python-dotenv
langchain_community
ipykernel
pypdf
bs4
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_core
beautifulsoup4
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
pyautogen
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
pyodbc
matplotlib 
plotly
validators
youtube_transcript_api
pytube
unstructured
